@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
    color: green;
}


.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    gap: 20px
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cell {
   height: 120px;
   width: 120px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Permanent Marker", cursive;
   /*font-family: 'Marko One', serif;*/
   font-size: 6rem;
   border-right: solid 2px rgb(55, 55, 56);
   border-bottom: solid 2px rgb(55, 55, 56);
}

/* 3 BY 3 GRID */
.cell-3{
    width: 360px;
}

.cell-3 div:nth-child(3n) {
    border-right: none;
}

.cell-3 div:nth-child(7), .cell-3 div:nth-child(8), .cell-3 div:nth-child(9) {
    border-bottom: none;
}

/* 5 BY 5 GRID */
.cell-5{
    width: 600px;
}

.cell-5 div:nth-child(5n) {
    border-right: none;
}

.cell-5 div:nth-child(21), .cell-5 div:nth-child(22), 
.cell-5 div:nth-child(23), .cell-5 div:nth-child(24), .cell-5 div:nth-child(25) {
    border-bottom: none;
}


/************************************************
        BUTTONS
************************************************/
button {
    border: none;
    background-color: rgba(0, 128, 128, 0.919);
    cursor: pointer;
    padding: .3125rem 0.625rem;
    border-radius: 5px;
    color: whitesmoke;
    min-height: 3.25vh;
    text-align: center;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.34);
}

.game_mode__button:active {
    box-shadow:
      7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(2px);
}
 .selected_btn  {
    background-color: teal;
    box-shadow: inset 2px 2px 5px rgb(48, 47, 47);
    transform: translateY(1px);
}
     
 
.game__restart {
    font-size: 1.125rem;
    height: 3.5vh;
}


/*******************************************
        ELEMENTS
*******************************************/
.flex-cols {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.left-col {
    flex: 1;
}

.right-col {
    border-left: #ccc solid 3px;
    flex: 2;
    gap: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.game_div {
    width: 50%;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

.score_board p {
    display: block;
    width: 100px;
    border: teal solid 1px;
    height: 1.5rem;
    padding-top: 0.2rem;
}

.score_board__span {
    font-weight: 600;
}

.board_option {
    height: 3.5vh;
    border-radius: 5px;
    padding: .3125rem;
    border: teal solid 1px;
}

.win {
    color: #d367c1;
}