@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
    color: green;
}
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    gap: 20px
}

.game-board {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cell {
   height: 150px;
   width: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Permanent Marker", cursive;
   font-size: 6rem;
   border-right: solid 2px rgb(55, 55, 56);
   border-bottom: solid 2px rgb(55, 55, 56);
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
    border-bottom: none;
}